doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://js.braintreegateway.com/js/braintree-2.21.0.min.js')

  body
    block content